In [3]:
import pandas as pd

# Correct relative path from the notebooks directory to the csv file
data = pd.read_csv('/Users/steven/Source/NHL_game_prediction_bot/data/raw/2022-23_Bruins_Data.csv')

print(data.head())

   GP        Date Unnamed: 2             Opponent  GF  GA Unnamed: 6  \
0   1  2022-10-12          @  Washington Capitals   5   2          W
1   2  2022-10-15        NaN      Arizona Coyotes   6   3          W
2   3  2022-10-17        NaN     Florida Panthers   5   3          W
3   4  2022-10-18          @      Ottawa Senators   5   7          L
4   5  2022-10-20        NaN        Anaheim Ducks   2   1          W

  Unnamed: 7  W  L  OL Streak   Att.   LOG Notes
0        NaN  1  0   0    W 1  18573  2:28   NaN
1        NaN  2  0   0    W 2  17850  2:33   NaN
2        NaN  3  0   0    W 3  17850  2:32   NaN
3        NaN  3  1   0    L 1  19811  2:41   NaN
4         SO  4  1   0    W 1  17850  2:48   NaN

In [5]:
data.describe()

,GP,GF,GA,W,L,OL,Att.
count,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000
mean,41.500000,3.719512,2.158537,32.743902,5.792683,2.963415,18189.170732
std,23.815261,1.533771,1.444184,18.106551,3.780188,2.168490,2940.841329
min,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4600.000000
25%,21.250000,3.000000,1.000000,18.250000,3.000000,0.000000,17850.000000
50%,41.500000,4.000000,2.000000,32.500000,5.000000,4.000000,17850.000000
75%,61.750000,5.000000,3.000000,48.750000,8.000000,5.000000,18401.750000
max,82.000000,7.000000,7.000000,65.000000,12.000000,5.000000,39243.000000

In [ ]:
import pandas as pd

# Assuming the CSV is properly formatted with correct headers
df = pd.read_csv('/Users/steven/Source/NHL_game_prediction_bot/data/raw/2022-23_Bruins_Data.csv')

# Remove any rows that are completely empty
df.dropna(how='all', inplace=True)

# Convert 'Date' to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Strip whitespace from 'Opponent' and any other string columns
df['Opponent'] = df['Opponent'].str.strip()

# Combine W, L, OL columns into one categorical result column
conditions = [
    (df['W'] == 1),
    (df['L'] == 1),
    (df['OL'] == 1)
]
choices = ['Win', 'Loss', 'Overtime Loss']
df['Result'] = np.select(conditions, choices, default='Unknown')

# Drop the now-redundant W, L, OL columns
df.drop(['W', 'L', 'OL'], axis=1, inplace=True)

# Split 'Streak' into 'Streak Type' and 'Streak Count'
df['Streak Type'] = df['Streak'].str[0]
df['Streak Count'] = df['Streak'].str.extract('(\d+)').astype(float)

# Convert 'Att.' to integer, removing commas
df['Att.'] = df['Att.'].str.replace(',', '').astype(float)

# Save the cleaned data
df.to_csv('/Users/steven/Source/NHL_game_prediction_bot/data/processed/2022-23_Bruins_P.csv', index=False)